/*insert custom css below*/


body {
}

.heading {
  top:10px;
  position: fixed
  z-index: 1000;
}

.heading h1 {
}

.box {
  width: 25%;
  float: left;
  position: relative;
}

.box:last-child {
}

.box h2 {
}

.box img {
    border: 5px solid black;
    position: relative;
}

.box a.read-more {
}

.footer {
  bottom: 10px;
  position: fixed;
}
