/*insert custom css below*/


body {
}

.heading {
  top:0px;
  left:0px;
  position: fixed
  width:100%
  border-bottom: 2px solid black;
}

.heading h1 {
}

.box {
  width: 25%;
  float: left;
  position: relative;
}

.box:last-child {
}

.box h2 {
}

.box img {
    border: 5px solid black;
    position: relative;
}

.box a.read-more {
}

.footer {
  bottom: 0px;
  left:0px;
  position: fixed
  width:100%
  border-top:2px solid black;
}
